body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #a3a6a85d; 
    margin: 0;
    padding: 0;
    text-align: justify;
    font-size: 1.8rem;
}
header{
    background-color: #333;
    color: rgb(196, 184, 242);
    padding: 30px;
    text-align: center;
}
#main-title{
    font-size: 3.4rem;
}
section{
    margin: 30px;
}
.fabricantes{
    background-color: rgb(244, 236, 236);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
}
.marca{
    color: #333;
    font-size: 2.5rem;
}
.logo{
    width: 80%;
    max-width: 10cm;
    height: auto;
    display: block;
    margin: auto; 
}
.descripcion{
    color: #635353;
    font-size: 2rem;
}
.info{
    list-style-type: none;
    padding: 0;
    font-size: 2rem;
    color: #635353;
}
.cuadro{
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
}
.tabla_comparativa th, .tabla_comparativa td {
    border: 1px solid #0e0d0d;
    padding: 10px;
    text-align: center;
}
.footer-text{
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
}
.tabla_comparativa th {
    background-color: #1a3d54; 
    color: white;
    font-weight: bold;
}
